.Rproj.user
.Rhistory
.RData
.Ruserdata
Alaska.jpg
AK2.jpg
AKblk.png
Alaska.csv
BlogPost.docx
East.csv
East.jpg
East2.jpg
TwThread.docx
West.csv
West.jpg
West2.jpg
West_words.png
WildWordsMap.png
WildWordsMap_clear.png
WildernessByWord.rds
WildernessDescriptions.rds
download.png
map.png
map.psd
West2.png
WildernessInfographic2.png
