Adjective.png
Bars_Alaska.png
Bars_East.png
Bars_West.png
Boxplot2.png
Histograms.pdf
Histograms.png
Histograms2.pdf
WildernessInfographic [Recovered].ai
WildernessInfographic.pdf
WildernessInfographic2 [Recovered].ai
WildernessInfographic2.png
WildernessInfographic2.pdf
WildernessInfographic3.ai
gude-2022-08-14.log
gude-2022-08-16.log
gude-2022-08-17.log
logratio.pdf
logratio.png
tf_idf_radial.pdf
tf_idf_radial2.pdf
tf_idf_radial2.png
tf_idf_radial_finished.png
TotalFrequency.png
